.back {
    background-color: rgb(29, 29, 29);
}

.headText {
    size: 7;
    color: coral;
    text-align: center;
}

.main {
    background-color: Moccasin;
    width: 80%;
    text-align: center;
}

.headerMain {
    text-align: center;
    size: 7;
}

.textMain {
    width: 50%;
}